.form-container {
    width: 100%;
    height: min-content;
    padding: 16px 0 16px 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000000;
}

.form-input {
    width: 80%;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    background-color: #ffffff;
    border: 2px solid #000000;
}

.form-input:focus {
    border-color: #E02481;
}

.form-button {
    font-size: 32px;
    transform: rotate(360deg);
    transition: transform 0.5s;
}

.form-button:active {
    transform: rotate(0deg);
    transition: 0s;
}

@media (min-width: 640px) {
    .form-container {
        padding: 24px 0 24px 0;
    }

    .form-input {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .form-container {
        padding: 32px 0 32px 0;
    }

    .form-input {
        width: 50%;
    }
}