.list-container {
    max-height: 30%;
    width: 100%;
    overflow-y: auto;
    padding: 6px;
    border-bottom: 2px solid #000000;
}

.list-container ul {
    width: 100%;
}

.list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.list-item:not(:last-child) {
    margin-bottom: 12px;
}

.list-item:hover {
    background-color: #e0248233;
}

.list-item div {
    max-width: 90%;
    margin-left: 2px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.list-button {
    font-size: 32px;
    margin-right: 2px;
}

@media (min-width: 640px) {
    .list-container {
        height: 100%;
        max-height: none;
        width: 30%;
        border-right: 2px solid #000;
    }
}