.preview-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.preview-container h1 {
    font-size: 1.3em;
    text-align: center;
}

.preview-button {
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 32px;
}

@media (min-width: 640px) {
    .preview-button {
        top: 16px;
        right: 16px;
    }
}