body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.root-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.root-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

button {
    padding: 0;
    border: none;
    background-color: unset;
    border-radius: 100%;
    cursor: pointer;
}

@media (min-width: 640px) {
    .root-content {
        flex-direction: row;
    }
}